<table class="table table-hover" >
    <thead class="" >
        <tr [class]="filter">
            <td scope="col-2" (click)="sortTable('lastName')">Name</td>
            <td scope="col-1" (click)="sortTable('teamId')">Team</td>
            <td scope="col-1" (click)="sortTable('jerseyNumber')">#</td>
            <td scope="col-1" (click)="sortTable('position')">Position</td>
            <td scope="col-1" (click)="sortTable('age')">Age</td>
            <td scope="col-1" (click)="sortTable('height')">Ht</td>
            <td scope="col-1" (click)="sortTable('weight')">Wt</td>
            <td scope="col-2" (click)="sortTable('birthCity')">Hometown</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players | orderBy : {property : colData.col, direction: colData.direction }" (click)="selectPlayer(player)">
            <td>{{player.firstName}} {{player.lastName}}</td>
            <td><img class="teamLogoImg" src="../../../assets/{{player.teamId}}.png"></td>
            <td>{{player.jerseyNumber}}</td>
            <td>{{player.position}}</td>
            <td>{{player.age}}</td>
            <td>{{player.height}}</td>
            <td>{{player.weight}}</td>
            <td>{{player.birthCity}} {{player.birthCountry}}</td>
        </tr>
    </tbody>
</table>
