<table class="table table-hover" >
    <thead class="{{teamStyle}}" >
        <tr>
            <td scope="col">Name</td>
            <td scope="col">Team</td>
            <td scope="col">#</td>
            <td scope="col">Position</td>
            <td scope="col">Age</td>
            <td scope="col">Ht</td>
            <td scope="col">Wt</td>
            <td scope="col">Hometown</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players" (click)="selectPlayer(player)">
            <td>{{player.firstName}} {{player.lastName}}</td>
            <td><img class="teamLogoImg" src="../../../assets/{{player.teamId}}.png"></td>
            <td>{{player.jerseyNumber}}</td>
            <td>{{player.position}}</td>
            <td>{{player.age}}</td>
            <td>{{player.height}}</td>
            <td>{{player.weight}}</td>
            <td>{{player.birthCity}} {{player.birthCountry}}</td>
        </tr>
    </tbody>
</table>
