
<table class="table table-hover" *ngIf="!playoffs">
    <thead>
        <tr>
            <td (click)="sortTable('_rank')" >League Rank </td>
            <td (click)="sortTable('_name')" >Team</td>
            <td (click)="sortTable('_city')" >City</td>
            <td (click)="sortTable('_wins')" >Wins</td>
            <td (click)="sortTable('_losses')" >Losses</td>
            <td (click)="sortTable('_overtimeLosses')" >Overtime Losses</td>
            <td (click)="sortTable('_points')" >Points</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams | orderBy : {property : column, direction: direction }" (click)="showTeamDetail(team)">
            <td>{{team._rank}}</td>
            <td>{{team._name}}</td>
            <td>{{team._city}}</td>
            <td>{{team._wins}}</td>
            <td>{{team._losses}}</td>
            <td>{{team._overtimeLosses}}</td>
            <td>{{team._points}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover" *ngIf="playoffs">
    <thead>
    <tr>
        <td (click)="sortTable('_rank')" >Playoff Rank</td>
        <td (click)="sortTable('_name')" >Team</td>
        <td (click)="sortTable('_city')" >City</td>
        <td (click)="sortTable('_wins')" >Wins</td>
        <td (click)="sortTable('_losses')" >Losses</td>
        <td (click)="sortTable('_gamesPlayed')" >Games Played</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams" (click)="showTeamDetail(team)">
        <td>{{team._rank}}</td>
        <td>{{team._name}}</td>
        <td>{{team._city}}</td>
        <td>{{team._wins}}</td>
        <td>{{team._losses}}</td>
        <td>{{team._gamesPlayed}}</td>
    </tr>
    </tbody>
</table>


