
<table class="table table-hover" *ngIf="!playoffs">
    <thead>
        <tr>
            <td (click)="sortTable('rank')" >League Rank </td>
            <td (click)="sortTable('name')" >Team</td>
            <td (click)="sortTable('city')" >City</td>
            <td (click)="sortTable('wins')" >Wins</td>
            <td (click)="sortTable('losses')" >Losses</td>
            <td (click)="sortTable('overtimeLosses')" >Overtime Losses</td>
            <td (click)="sortTable('points')" >Points</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams | orderBy : {property : colData.col, direction: colData.direction }" (click)="showTeamDetail(team)">
            <td>{{team.rank}}</td>
            <td>{{team.name}}</td>
            <td>{{team.city}}</td>
            <td>{{team.wins}}</td>
            <td>{{team.losses}}</td>
            <td>{{team.overtimeLosses}}</td>
            <td>{{team.points}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover" *ngIf="playoffs">
    <thead>
    <tr>
        <td (click)="sortTable('rank')" >Playoff Rank</td>
        <td (click)="sortTable('name')" >Team</td>
        <td (click)="sortTable('city')" >City</td>
        <td (click)="sortTable('wins')" >Wins</td>
        <td (click)="sortTable('losses')" >Losses</td>
        <td (click)="sortTable('gamesPlayed')" >Games Played</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams | orderBy : {property : colData.col, direction: colData.direction }" (click)="showTeamDetail(team)">
        <td>{{team.rank}}</td>
        <td>{{team.name}}</td>
        <td>{{team.city}}</td>
        <td>{{team.wins}}</td>
        <td>{{team.losses}}</td>
        <td>{{team.gamesPlayed}}</td>
    </tr>
    </tbody>
</table>


