.player-table {
    padding-bottom: 20px;
}

.player-table-head {
    margin-left:15px;
    margin-bottom:10px;
}

.spacer-hor-title {
    margin-right: 30px;
}

.spacer-hor {
    margin-left: 2px;
    margin-right: 2px;
}

.players-container {
    margin: 8px;
}
