
<app-loading-screen [hidden]="!loading"></app-loading-screen>

<div class="container-fluid players-container">
    <div class="row player-table-head">
        <h2>Players</h2>
        <div class="spacer-hor-title"></div>

        <!-- Use of dropdown component directive -->
        <div class="dropdown" dropdown>
            <!-- Use of dropdownToggle component directive -->
            <button
                class="btn btn-dark btn-lg dropdown-toggle"
                id="seasonDropDown"
                type="button"
                dropdownToggle
            >
                <span *ngIf="selectedYear === ''">Season</span>
                <span *ngIf="selectedYear !== ''">{{selectedYear}}</span>
            </button>
            <!-- Use of dropDownMenu structural directive-->
            <div >
                <div class="dropdown-menu" *dropdownMenu >
                    <a class="dropdown-item" *ngIf="!playoffsEnabled" (click)="getAllPlayers('2017-2018')">2017-2018</a>
                    <a class="dropdown-item" (click)="getAllPlayers('2016-2017')">2016-2017</a>
                    <a class="dropdown-item" (click)="getAllPlayers('2015-2016')">2015-2016</a>
                    <a class="dropdown-item" (click)="getAllPlayers('2014-2015')">2014-2015</a>
                    <a class="dropdown-item" (click)="getAllPlayers('2013-2014')">2013-2014</a>
                    <a class="dropdown-item" (click)="getAllPlayers('2012-2013')">2012-2013</a>
                    <a class="dropdown-item" (click)="getAllPlayers('2010-2011')">2010-2011</a>
                    <a class="dropdown-item" (click)="getAllPlayers('2009-2010')">2009-2010</a>
                </div>
            </div>
        </div>

        <div class="spacer-hor"></div>

        <div class="btn-group" role="group">
            <button
                class="btn btn-lg btn-secondary"
                [class.btn-success]="forwardsEnabled"
                [disabled]="!playersLoaded"
                (click)="enableForwards()">Forwards</button>
        </div>

        <div class="spacer-hor"></div>

        <div class="btn-group" role="group">
            <button
                class="btn btn-lg btn-secondary"
                [class.btn-info]="defenseEnabled"
                [disabled]="!playersLoaded"
                (click)="enableDefenseman()">Defenseman</button>
        </div>

        <div class="spacer-hor"></div>

        <div class="btn-group" role="group">
            <button
                class="btn btn-lg btn-secondary"
                [class.btn-primary]="goalieEnabled"
                [disabled]="!playersLoaded"
                (click)="enableGoalies()">Goalies</button>
        </div>

        <div class="spacer-hor"></div>

        <div class="btn-group" role="group">
            <button
                class="btn btn-lg btn-danger"
                (click)="clearPlayers()">Clear Players</button>
        </div>
    </div>

    <div class="spacer-hor"></div>

    <app-player-list *ngIf="playersLoaded" [players]="players" ></app-player-list>
</div>
