<!-- Loading Spinner -->
<app-loading-screen [hidden]="!loading"></app-loading-screen>

<div class="container-fluid row season-picker">
    <h2>Teams</h2>
    <div class="spacer-hor-title"></div>

    <div class="btn-group" role="group">
        <!-- Use of dropdown component directive -->
        <div class="dropdown" dropdown>
            <!-- Use of dropdownToggle component directive -->
            <button
                class="btn btn-dark btn-lg dropdown-toggle"
                id="seasonDropDown"
                type="button"
                dropdownToggle
                >
                <span *ngIf="selectedYear === ''">Season</span>
                <span *ngIf="selectedYear !== ''">{{selectedYear}}</span>
            </button>
            <!-- Use of dropDownMenu structural directive-->
            <div >
                <div class="dropdown-menu" *dropdownMenu >
                    <a class="dropdown-item" *ngIf="!playoffsEnabled" (click)="getTeams('2017-2018')">2017-2018</a>
                    <a class="dropdown-item" (click)="getTeams('2016-2017')">2016-2017</a>
                    <a class="dropdown-item" (click)="getTeams('2015-2016')">2015-2016</a>
                    <a class="dropdown-item" (click)="getTeams('2014-2015')">2014-2015</a>
                    <a class="dropdown-item" (click)="getTeams('2013-2014')">2013-2014</a>
                    <a class="dropdown-item" (click)="getTeams('2012-2013')">2012-2013</a>
                    <a class="dropdown-item" (click)="getTeams('2010-2011')">2010-2011</a>
                    <a class="dropdown-item" (click)="getTeams('2009-2010')">2009-2010</a>
                </div>
            </div>

        </div>
    </div>

    <div class="spacer"></div>

    <div class="btn-group" role="group">
        <button
            class="btn btn-lg btn btn-secondary"
            [class.btn-success]="playoffsEnabled"
            [class.disabled]="selectedYear == '2017-2018'"
            [disabled]="selectedYear == '2017-2018'"
            type="button"
            (click)="enablePlayoffs()">Playoffs</button>
    </div>

    <div class="spacer"></div>

    <div class="btn-group" role="group">
        <button
            class="btn btn-danger btn-lg"
            type="button"
            (click)="clearTeams()">
            Clear Teams
        </button>
    </div>

</div>

<div class="container-fluid" *ngIf="teamsLoaded">
    <app-teams-list [teams]="teamList" [year]="selectedYear" [playoffs]="playoffsEnabled"></app-teams-list>
</div>
