<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <h2>Welcome to My NHL Database</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col pull-left" >
            <div class="row content-cards" id="aboutMe">
                <h2 class="">About Me</h2>
                <p>
                    My name is Alex Greco.
                    I am a Rowan University Graduate with my Bachelors in Computer Science.
                    I currently work for AT&T, where I am a software engineer on the Domain 2.0 platform.
                    For a closer look into my work experience, ask for a copy of my resume
                    <a href="mailto:alex.k.greco.4@gmail.com"> here. </a>
                </p>
            </div>
        </div>
        <div class="col pull-right" id="projDesc">
            <div class="row content-cards">
                <h2>Project Description</h2>
                <p>
                    I started this project because I wanted to create a sample Anuglar 4 application.
                    I also love the NHL and thought it would be fun to create an application where I can learn more about the league.
                    I have no intentions to make this into a serious application, as there are dozens of nhl stat apps out there.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pull-left" >
            <div class="row content-cards" id="technology">
                <h2 class="">Technology</h2>
                <p>
                    This application was started with an Angular-CLI generated skeleton.
                    The front-end of this application was all written in Angular 4.
                    Twitter's Bootstrap 4 was used with NGX-Bootstrap for Styling and UI components.
                    A Node server using Express acts as an API while also hosting the app.
                </p>
            </div>
        </div>
        <div class="col pull-right" id="sportfeeds">
            <div class="row content-cards">
                <h2>Mysportfeeds.com</h2>
                <p>
                    <a href="https://mysportsfeeds.com">MySportsFeeds </a> was used for all NHL Data.
                    I chose this site because their api is well documented and most importantly, it's free.
                    A user may notice that only past season records are available on this site.
                    This is because only past seasons data is available on the free tier.
                </p>
            </div>
        </div>
    </div>
</div>
