<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <h2>Welcome to my NHL database!</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col pull-left" >
            <div class="row content-cards" id="aboutMe">
                <h2 class="">About Me</h2>
                <p>My name is Alex Greco. I am a Rowan University Graduate with my Bachelors in Computer Science.</p>
            </div>
        </div>
        <div class="col pull-right" id="projDesc">
            <div class="row content-cards">
                <h2>Project Description</h2>
            </div>
        </div>
    </div>
</div>
